<!DOCTYPE html>
<html lang="en">

<head>
	<title>Signals</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico'%}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
body {
    padding: 15px 15px 15px 15px;
}
<!--html, body { height: 100%; width: 100%; margin: 0; }-->
</style>



	

	<div class="container-fluid" style="min-height:95%">
		<div>
		   {% block content %}
		   {% endblock %}	
		   {% block script %}
		   {% endblock %}
		</div>
	</div>
	<footer>
		<div class="container-fluid">
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
</body>
</html>